{% extends "base.html" %} 

{% block title %} 
Mes chaines youtubes favorites 
{% endblock  %} 

{% block content %} 
<h1> La tier liste de mes chaines youtube:</h1>

<a class="btn btn-outline-secondary" href="new_channel" role="button">Ajouter une chaine</a>

<div class="row">
    
    {% for channel in channel_list%}
    <div class="col-md-3">
        <div class="card text-center">
            <img src={{channel.image_url}} class="card-img-top" alt="image de la chaine">
            <div class="card-body">
                <h5 class="card-title">{{channel.title}}</h5>
                <p class="card-text">{{channel.description}}</p>
                <a href={{channel.title}} class="btn btn-primary">{{channel.title}} </a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>



{% endblock  %} 

